:root{
    --primary-900: #687864;
    --primary-700: #31808e;
    --primary-500: #5085a5;
    --primary-300: #8fc1e3;
    --primary-100: #f7f9fb;

    --secondary-900: #000000;
    --secondary-700: #242424;
    --secondary-500: #4b4b4b;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--primary-100);
}

main{
    position: relative;
}

.nav-bar{
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 0;
    inline-size: 100%;
    background-color: transparent;
    padding-inline: 40px;
    padding-block: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar .btn{
    max-inline-size: max-content;
    inline-size: 100%;
    padding: 10px 40px;
    background-color: var(--secondary-900);
    color: var(--primary-100);
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
}